Repository LetsZiggy/prettier-plugin-tsconfig: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, eslint, prettier-json

ruff:
  run: 'echo -e "staged_files >>> {staged_files}\n";
  
    uv --project webscrape-tsconfig run ruff format {staged_files};
  
    uv --project webscrape-tsconfig run ruff check --fix {staged_files};
  
    '
  stage_fixed: true

eslint:
  run: 'GIT_ROOT_PATH=$(git rev-parse --show-toplevel);
  
    STAGED_FILES_ABS_PATH=$(echo "{staged_files}" | sed -E -e "s,((^[^ ]+)|([^ ]+)),$GIT_ROOT_PATH/\1,g");
  
    pnpm --dir plugin run fix:eslint $STAGED_FILES_ABS_PATH;
  
    '
  stage_fixed: true

prettier-json:
  run: 'GIT_ROOT_PATH=$(git rev-parse --show-toplevel);
  
    STAGED_FILES_ABS_PATH=$(echo "{staged_files}" | sed -E -e "s,((^[^ ]+)|([^ ]+)),$GIT_ROOT_PATH/\1,g");
  
    pnpm --dir plugin run fix:prettier $STAGED_FILES_ABS_PATH;
  
    '
  stage_fixed: true

feat: prettier-plugin-tsconfig 1.0.* build
  dist/index.cjs
  dist/index.js
  dist/index.mjs
  dist/plugin.02ea1c23.js
  dist/plugin.0e43922e.js
  dist/plugin.1ce78312.js
  dist/plugin.57f362bc.js
  dist/plugin.9719c8f5.js
  dist/plugin.a41e62e2.js
  package.json
Due: eslint, prettier-json

feat: prettier-plugin-tsconfig 1.0.*
  .npmignore
  README.md
  package.json
  plugin/.parcelrc
  plugin/.prettierignore
  plugin/eslint.config.js
  plugin/package.json
  plugin/pnpm-lock.yaml
  plugin/pnpm-workspace.yaml
  plugin/prettier.config.js
  plugin/reset.d.ts
  plugin/src/index.ts
  plugin/src/order.ts
  plugin/src/types.ts
  plugin/tsconfig.json
  pnpm-lock.yaml
  webscrape-tsconfig/README.md
  webscrape-tsconfig/get-keys-order.py
  webscrape-tsconfig/helper.py
  webscrape-tsconfig/pyproject.toml
  webscrape-tsconfig/uv.lock
Due: ruff, eslint, prettier-json

chore: project settings
  .editorconfig
  .npmrc
  editor.sublime-project
  lefthook.yml
  taskfile.dist.yml
  typings/sublime.pyi
  typings/sublime_plugin.pyi
Due: none

chore: v1.0.4
  package.json
Due: prettier-json

feat: prettier-plugin-tsconfig 1.0.* test
  plugin/package.json
  plugin/test/prettier.config.test.js
  plugin/test/test.spec.ts
  plugin/test/tsconfig.expect.txt
  plugin/test/tsconfig.init.txt
Due: eslint, prettier-json

chore: v1.0.5
  package.json
Due: prettier-json

Path conditions:
  ruff: any of: {.[!.],}*.py
  eslint: any of: {.[!.],}*.{js,ts}
  prettier-json: any of: {.[!.],}*.json
