Repository LetsZiggy/prettier-plugin-tsconfig: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --max-warnings 0 --no-warn-ignored --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

docs: README
  README.md
Due: none

chore: project settings
  .czrc
  .editorconfig
  .parcelrc
  .prettierignore
  commitlint.config.js
  editor.sublime-project
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  reset.d.ts
  tsconfig.json
Due: eslint, prettier

chore: project settings
  .editorconfig
  .parcelrc
  .prettierignore
  editor.sublime-project
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  reset.d.ts
  tsconfig.json
Due: eslint, prettier

docs: LICENSE
  LICENSE
Due: none

chore: .gitignore
  .gitignore
Due: none

chore: project settings
  .editorconfig
  editor.sublime-project
  lefthook.yml
  package.json
  plugin/.parcelrc
  plugin/.prettierignore
  plugin/eslint.config.js
  plugin/package.json
  plugin/pnpm-lock.yaml
  plugin/pnpm-workspace.yaml
  plugin/prettier.config.js
  plugin/reset.d.ts
  plugin/tsconfig.json
  webscrape-tsconfig/pyproject.toml
  webscrape-tsconfig/uv.lock
Due: eslint, prettier

feat: prettier-plugin-tsconfig *.*.* support
  README.md
  plugin/src/order.ts
  webscrape-tsconfig/README.md
  webscrape-tsconfig/get-keys-order.py
  webscrape-tsconfig/helper.py
Due: eslint

chore: project settings
  .editorconfig
  .npmrc
  editor.sublime-project
  lefthook.yml
Due: none

feat: prettier-plugin-tsconfig 1.0.*
  .npmignore
  README.md
  package.json
  plugin/.npmrc
  plugin/.parcelrc
  plugin/.prettierignore
  plugin/eslint.config.js
  plugin/package.json
  plugin/pnpm-lock.yaml
  plugin/pnpm-workspace.yaml
  plugin/prettier.config.js
  plugin/reset.d.ts
  plugin/src/index.ts
  plugin/src/order.ts
  plugin/src/types.ts
  plugin/tsconfig.json
  pnpm-lock.yaml
  webscrape-tsconfig/README.md
  webscrape-tsconfig/get-keys-order.py
  webscrape-tsconfig/helper.py
  webscrape-tsconfig/pyproject.toml
  webscrape-tsconfig/uv.lock
Due: eslint, prettier

feat: prettier-plugin-tsconfig 1.0.* test
  plugin/package.json
  plugin/test/prettier.config.test.js
  plugin/test/test.spec.ts
  plugin/test/tsconfig.expect.txt
  plugin/test/tsconfig.init.txt
Due: eslint, prettier

feat: prettier-plugin-tsconfig 1.0.* build
  dist/index.cjs
  dist/index.js
  dist/index.mjs
  dist/plugin.30b5e0ad.js
  dist/plugin.57f362bc.js
  dist/plugin.79586a48.js
  dist/plugin.7e7ae839.js
  dist/plugin.9f4d3411.js
  dist/plugin.c75acb79.js
  package.json
Due: eslint, prettier

chore: v1.0.1
  package.json
Due: prettier

feat: prettier-plugin-tsconfig 1.0.*
  .npmignore
  README.md
  package.json
  plugin/.parcelrc
  plugin/.prettierignore
  plugin/eslint.config.js
  plugin/package.json
  plugin/pnpm-lock.yaml
  plugin/pnpm-workspace.yaml
  plugin/prettier.config.js
  plugin/reset.d.ts
  plugin/src/index.ts
  plugin/src/order.ts
  plugin/src/types.ts
  plugin/tsconfig.json
  pnpm-lock.yaml
  webscrape-tsconfig/README.md
  webscrape-tsconfig/get-keys-order.py
  webscrape-tsconfig/helper.py
  webscrape-tsconfig/pyproject.toml
  webscrape-tsconfig/uv.lock
Due: eslint, prettier

chore: v1.0.2
  package.json
Due: prettier

chore: tmp
  webscrape-tsconfig/README.md
Due: none

feat: prettier-plugin-tsconfig 1.0.* build
  dist/index.cjs
  dist/index.js
  dist/index.mjs
  dist/plugin.02ea1c23.js
  dist/plugin.0e43922e.js
  dist/plugin.1ce78312.js
  dist/plugin.57f362bc.js
  dist/plugin.9719c8f5.js
  dist/plugin.a41e62e2.js
  package.json
Due: eslint, prettier

chore: v1.0.3
  package.json
Due: prettier

Path conditions:
  eslint: any of: {.[!.],}*.{js,ts}
  prettier: any of: {.[!.],}*.json
